@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@500&family=Poppins&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
}

.create-account {
  background-color: rgb(226, 173, 75);
  padding: 10px 25px;
  border-radius: 38px;
}

ul {
  background-color: #eeeff3;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  font-size: 14px;
}

.navbar ul li {
  list-style-type: none;
  display: flex;
}

li a {
  text-decoration: none;
  color: inherit;
}

input {
  border-radius: 5px;
  padding: 8px 6px;
  border: none;
  font-weight: bold;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 19px;
}

.search-bar {
  position: relative;
}

.search-icon {
  position: absolute;
  right: 0;
  padding-right: 6px;
}

.video {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.play-video {
  font-size: 13px;
  font-weight: bold;
}

.try-video {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 60px;
  margin-top: 20px;
}

.trynow {
  background-color: #ff7600;
  margin-left: -200px;
  padding: 12px 35px;
  border-radius: 10px;
  color: white;
  list-style-type: none;
  display: flex;
  text-decoration: none;
}
.play-video {
  text-decoration: none;
}

.promotion-ratings {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 100px;
  align-items: center;
  align-content: flex-end;
  padding-left: 10px;
  padding-top: 10px;
}
.promotion {
  display: flex;
  align-items: flex-start;
}

.available-courses {
  display: flex;
  background-color: #ffffff;
  justify-content: space-around;
  flex-direction: column;
  border-radius: 15px;
  box-shadow: 0px 4px 0px rgb(185, 176, 176);
  padding: 18px 10px;
  width: 85%;
  margin: 0 auto;
}
.ratings {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-right: 15px;
}
.stars {
  display: flex;
  flex-direction: row-reverse;
  gap: 10px;
  padding-right: 4px;
}
.famous-courses {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  padding-right: 20px;
  padding-top: 0 auto;
}
.trending-topics {
  display: flex;
  justify-content: space-between;
  align-content: space-between;
  width: 90%;
  margin: 0 auto;
  margin-top: 50px;
}
.browse {
  background-color: #ff7600;
  margin-left: -200px;
  padding: 12px 20px;
  border-radius: 10px;
  color: white;
  font-size: large;
}
.trending {
  font-weight: bolder;
  font-size: 40px;
}

.description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  align-content: flex-start;
  width: 500px;
  gap: 20px;
}

.quote {
  font-size: 51px;
  margin: 0;
}

.paragraph {
  font-size: 14px;
  margin: 0;
}

.mid-section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 80px 60px;
  gap: 60px;
}

span {
  color: #ff7600;
  font-weight: 5000px;
}

.container {
  background-color: #eeeff3;
}

.navbar {
  padding-top: 25px;
}

nav ul li a {
  color: #000;
}
nav ul li a.active {
  color: #ff7600;
}

.cards {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
  margin: 0 auto;
  margin-top: 40px;
  gap: 20px;
}
.card:hover {
  transform: scale(1.06);
  transition: all 200ms ease-in-out;
}
.card {
  display: flex;
  background-color: #ffffff;
  width: 280px;
  height: 200px;
  flex-wrap: wrap;
  border-radius: 7px;
  box-shadow: 0px 4px 0px rgb(185, 176, 176);
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.number {
  font-size: 16px;
}
.sort-icon {
  margin-right: auto;
}
.sort {
  font-weight: bold;
  background-color: #ff7600;
  padding: 16px 3px;
  padding-left: 15px;
  border-radius: 6px;
  color: white;
  font-size: 14px;
  display: flex;
  height: 20px;
  width: 168px;
  align-items: center;
  justify-content: center;
}
.our-popular-courses {
  display: flex;
  justify-content: space-between;
  align-content: space-between;
  width: 90%;
  margin: 0 auto;
  margin-top: 50px;
}
.popular-courses {
  font-weight: bolder;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: flex-start;
  align-content: flex-start;
}
.courses-description {
  font-size: 14px;
  margin: 0;
}
.courses-names {
  font-weight: bolder;
  font-size: 40px;
}
.courses-description {
  font-size: 15px;
  font-weight: normal;
}

.cards-ourcourse {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-content: space-between;
  width: 85%;
  margin: 0 auto;
  margin-top: 130px;
  row-gap: 140px;
}
.card-course:hover {
  transform: scale(1.1);
}
.card-course {
  display: flex;
  background-color: #ffffff;
  width: 290px;
  height: 350px;
  flex-wrap: wrap;
  border-radius: 15px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transition: transform 0.3s ease;
}
.course-image {
  display: flex;
  align-items: flex-start;
  align-content: flex-start;
  margin-top: -120px;
  border-radius: 10px;
}
.course-price {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: flex-start;
  width: 77%;
  margin-top: 20px;
}
.level {
  background-color: rgb(235, 226, 226);
  padding: 4px 9px;
  border-radius: 4px;
  font-size: 12px;
}
.bullet {
  background-color: #00ff5e;
}
.course-name {
  display: flex;
  margin-top: 10px;
}
.course-details {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  align-content: flex-start;
  width: 77%;
  margin-top: 20px;
}
.lessons,
.class-mode {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: small;
}

.course-ratings {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: flex-start;
  width: 77%;
  margin-top: 20px;
}
.course-stars {
  display: flex;
  align-items: flex-e;
  justify-content: center;
  gap: 3px;
}
.rating-point {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  flex-direction: column;
}

.get-info {
  display: flex;
  justify-content: space-between;
  align-content: space-between;
  width: 90%;
  margin: 0 auto;
  margin-top: 50px;
  padding: 20px 0px;
}
.get-ready {
  width: 60%;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: flex-start;
  align-content: space-between;
  margin: 90px 190px;
  row-gap: 30px;
  height: 20px;
}
.get-ready-head {
  font-weight: 300px;
  font-size: 30px;
  width: 370px;
}
.get-ready-info {
  font-size: 15px;
  width: 390px;
  font-weight: bold;
}
.footer {
  display: flex;
  width: 100%;
  margin: 0 auto;
  flex-direction: column;
  background-color: #212832;
  color: white;

  padding: 20px 0px;
}
.top-foot {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 15px 20px;
}
.newlearning-footer-head {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 19px;
  margin-left: 8px;
}
.newlearning-footer {
  display: flex;
  align-items: center;
}
.links {
  display: flex;
  width: 70%;
  align-items: center;
  justify-content: space-around;
}
.links a {
  text-decoration: none;
  color: white;
}
.links div {
  gap: 9px;
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.mid-foot {
  display: flex;
  justify-content: space-between;
  padding: 5px 30px;
  align-items: center;
}
.newsletter {
  display: flex;
  flex-direction: column;
  width: 50%;
  align-content: flex-start;
}
.newsletter-input {
  width: 70%;
  background-color: transparent;
  color: white;
}
.newsletter-input:focus {
  outline: none;
  border: none;
}
.newsletter-input::placeholder {
  text-decoration: none;
  color: white;
}

.socials {
  display: flex;
  flex-direction: column;
  width: 20%;
}
.Upgradenow-nextsymbol {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 35%;
  border: 1px solid rgb(255, 163, 71);
  padding: 9px 9px;
  border-radius: 30px;
  margin-top: 10px;
  height: 22px;
}

.social-media {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-top: 10px;
}

.end-foot {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ff7600;
}
